* {
  box-sizing: border-box;
  font-family: "'Franklin Gothic Medium'" , "'Arial Narrow'" , Arial , sans-serif;
  margin: 0;
  padding: 0;
}

.carta {
  align-items: center;
  background-color: black;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20em;
}

.criacaoDaCarta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 24px;
}

.criacaoDaCarta .carta {
  position: relative;
}

.formulario h1 {
  text-align: center;
}

.criacaoDaCarta .formulario {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.criacaoDaCarta .formulario form {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.formInput {
  font-size: 1rem;
  padding: 5px;
  width: 20em;
}

.pontos {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  gap: 7px;

  /* margin-bottom: 10px; */
}

.pontos .pointsQuant {
  align-self: center;

  /* background-color: red; */
  padding-top: 5px;
}


.superTrunfoCheckbox label {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;

  /* gap: 5px; */
}


.superTrunfoCheckbox label span {
  padding: 5px;
}

.botaoSalvar {
  align-self: center;
  height: 2.5em;
  width: 7em;
}

.nomeCartaContainer {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
  overflow-wrap: anywhere;
}

.nomeCartaContainer h1 {
  font-size: 1.4rem;
  padding: 5px;
  text-align: center;
}

.imagemCartaContainer {
  background-color: white;
  border: 2px solid white;
  display: flex;
  width: 90%;
}

.carta img {
  height: 250px;
  width: 100%;
}

.cardDescContainer {
  align-items: center;
  border: 1px solid white;
  display: flex;
  height: 5em;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  width: 80%;
}

.cardDesc {
  padding: 5px;
}

.cardAttrContaineer {
  margin-bottom: 18px;
}

.raridade {
  bottom: 0.3em;
  position: absolute;
  right: 0.5em;
}

.superTrunfo {
  bottom: 0.3em;
  left: 0.5em;
  position: absolute;
}

.listaDeCartasTitulo {
  display: flex;
  justify-content: center;
}

.listaDeCartas {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  margin-bottom: 12px;
}

.listaDeCartas .cartaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.listaDeCartas .cartaContainer button {
  align-self: center;
  margin-top: 5px;
  width: 5em;
}

.deleteBtnContainer {
  display: flex;
  position: absolute;
  right: 0.3em;
  top: 0;
  width: 1.2em;
}

.deleteBtn {
  background-color: red;
  border: 1px solid black;
  border-radius: 100%;
  color: white;
  font-weight: 700;
  height: 1.5em;
}

.filtersContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 3em;
}

.filters {
  align-items: center;
  display: flex;
  gap: 12px;
}

.filtroSuperTrunfo {
  display: flex;
  gap: 4px;
}

.filterInput {
  font-size: 0.9rem;
  height: 3em;
  padding: 5px;
  width: 15em;
}

@media ( max-width : 700px ) {

  .criacaoDaCarta {
    gap: 16px;
  }

  .filters {
    flex-direction: column;
  }
}
