* {
  box-sizing: border-box;
  font-family: "'Franklin Gothic Medium'" , "'Arial Narrow'" , Arial , sans-serif;
  margin: 0;
  padding: 0;
}

.criacaoDaCarta {
  display: flex;
  justify-content: space-around;
}

.criacaoDaCarta .formulario {
  display: flex;
  padding: 10px;
}

.criacaoDaCarta .formulario form {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
}

.pontos {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10px;
}

.pontos label {
  padding-bottom: 5px;
}

.pontos label input {
  margin-left: 5px;
}

.imagemCartaInput label input {
  margin-left: 5px;
}

.superTrunfoCheckbox label input {
  margin-right: 5px;
}

.botaoSalvar {
  align-self: center;
  height: 2.5em;
  width: 7em;
}

.nomeCartaContainer {
  align-items: center;
  display: flex;
  height: 5em;
  justify-content: center;
  overflow-wrap: anywhere;
}

.nomeCartaContainer h1 {
  font-size: 1.4rem;
  padding: 5px;
  text-align: center;
}

.imagemCartaContainer {
  background-color: white;
  display: flex;
  width: 90%;
}

.carta img {
  height: 250px;
  width: 100%;
}

.cardDescContainer {
  align-items: center;
  border: 1px solid white;
  display: flex;
  height: 5em;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: 8px;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  width: 80%;
}

.cardDesc {
  padding: 5px;
}

.raridade, .superTrunfo {
  align-self: flex-end;
  padding-right: 3px;
}

.listaDeCartasTitulo {
  display: flex;
  justify-content: center;
}

.listaDeCartas {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  justify-content: center;
  margin-bottom: 12px;
}

.listaDeCartas .cartaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.carta {
  align-items: center;
  background-color: black;
  border: 1px solid black;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;

  /* gap: 5px; */
  height: 100%;
  width: 20em;
}

.listaDeCartas .cartaContainer button {
  align-self: center;
  margin-top: 5px;
  width: 5em;
}

.deleteBtn {
  background-color: red;
  border: 1px solid black;
  color: white;
  font-weight: 700;
  padding: 2px;
  position: absolute;
  right: 1em;
  top: 0.1em;
}
